<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <h1>리뷰 목록</h1>
  {% for post in posts %}
  <h2><a href="{% url 'post_detail' post.id %}">{{post.title}} </a></h2>
  <!--{{post.body}} {{post.date}}!-->
  <hr />
  {% endfor %}


  {% if posts.has_previous %} <!--지금 잘라서 보여주는 posts의 목록이 이전 페이지가 있다면-->
  <a href="?page=1">첫 페이지</a>
  <a href="?page={{posts.previous_page_number}}">이전 페이지</a> <!--posts의 이전 페이지 숫자를 반환해라-->
  {% endif %}

  <span> {{ posts.number }} </span> <!--현재 페이지 넘버-->
  <span> / </span>
  <span> {{ posts.paginator.num_pages }} </span> <!--잘린 posts가 갖고 있는 총 페이지 수 반환-->

  {% if posts.has_next %} <!--다음 페이지가 있다면-->
  <a href="?page={{posts.next_page_number}}">다음 페이지</a>
  <a href="?page={{posts.paginator.num_pages}}">마지막 페이지</a>
  {% endif %}
</body>

</html>